/*  about  */

section.about {
    padding: 22px 55px 0px 40px;
    background-color: var(--cor-fundo-azul);

}
.section-about{
    font-size: 32px;
}
.about-container {
    width: 800px;
    
}
section.about div.about-container p {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

}
section.about div.about-container img {
    margin: 16px 0;
    
}

