/* Experiência Acadêmica*/

.academic{
    padding: 64px 0;
    background-color: var(--cor-de-fundo);
}
.academic-title  {
    text-align: center;
}
.academic-courses {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    
}
.academic-courses-box {
    background-color: var(--color-caixas);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    margin: 23PX 15PX 23PX 8px;
    width: 26.5rem;
    margin: 0 1rem;
}
div.courses ul {
    margin: 0;
    padding: 0;
    text-align: center;
}
div.courses ul li {
    padding: 0;
    margin: 32px;
}
div.courses ul li.course-img {
    background-color: var(--color-caixas);
    padding: 8%;
}